# Compulsory Task

In this compulsory task you will use pandas to select data from a dataset and explain the data retrieved for a given line of code.

This program selects the 'Limit' and 'Rating' columns of the first five observations, selects the first five observations with 4 cards and sorts the observations by 'Education' column, with users who have high education value first.

In [ ]:
import pandas as pd

You will use the same `balance.txt` dataset used in the example Jupyter notebook. Remember to ensure it is in the same folder as this notebook.

In [ ]:
df = pd.read_csv('balance.txt',sep=' ')

1. Write the code that performs the action described in the following statements.

In [ ]:
# Select the 'Limit' and 'Rating' columns of the first five observations
limit_rating_first_five = df[['Limit', 'Rating']].head()

# Display the selected first five observations.
print("\n\033[1mFirst five limit and rating\033[0m\n", limit_rating_first_five)

In [ ]:
# Select the first five observations with 4 cards
first_five_with_four_cards = df[df['Cards'] == 4].head()

# Display the selected first five observations.
print("\n\033[1mFirst five with 4 cards\033[0m\n", first_five_with_four_cards)

In [ ]:
# Sort the observations by 'Education'. Show users with a high education value first. 
sorted_by_education = df.sort_values(by='Education', ascending=False)

# Display the sorted contents of the text file.
print("\n\033[1mSorted by education\033[0m\n", sorted_by_education)

2. Write a short explanation in the form of a comment for the following lines of code. For example:  
```
# Selects the first 5 rows, and all of the columns for those rows.
df.iloc[:5,:] 
```

In [ ]:
# [Selects all rows and all columns in the DataFrame.]
df.iloc[:,:]

In [ ]:
# [Selects all rows from index 5 until the end othe file and all columns from index 5 until the end othe file.]
df.iloc[5:,5:]

In [ ]:
# [Selects all rows from the first column.]
df.iloc[:,0]

In [ ]:
# [Selects all columns for the 8th row.]
df.iloc[9,:]